# Entorno virtual
.venv/

# Cache de Python
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# Reportes de testing
report.html
reports/

# Variables de entorno
.env

# IDE / Editor
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db
